yii

/public_html/nbproject/*
/public_html/assets/*
!/assets/NOTHING
/nbproject/*
/public_html/uploads/*
!/public_html/uploads/NOTHING

/public_html/protected/data/
/public_html/protected/vendor/
/public_html/protected/runtime/*
!/public_html/protected/runtime/NOTHING
/public_html/runtime/
!/public_html/runtime/NOTHING
/public_html/protected/config/local.php
/public_html/protected/config/main.local.php
/.ssh/
.viminfo
.bash_history
/test/
/cgi-bin/
.gitconfig
/public_html/protected/tests/
.settings
.c9revisions
.idea
.project
