yii
/myapp/nbproject/private/

/myapp/nbproject/*
/myapp/assets/*
!/assets/NOTHING

/myapp/uploads/*
!/myapp/uploads/NOTHING

/myapp/protected/data/
/myapp/protected/vendor/
/myapp/protected/runtime/*
!/myapp/protected/runtime/NOTHING
/myapp/runtime/
!/myapp/runtime/NOTHING
/myapp/protected/config/local.php
/myapp/protected/config/main.local.php

/myapp/protected/tests/
.settings
.c9revisions
.idea
.project
