.banner-big,.banner-md,.menu-header-left,.triangle-top-right{
    background:#7535c5;
}
.triangle-topleft{
    border-top: 7px solid #7535c5;
}
.triangle-top-right-conner{
    border-right: 7px solid #7535c5;
}

.menu-left,.direction-left,.menu-right,.direction-right{
     background:#b275ff;
}
.direction-left a,.direction-right a{
    color:white;
}

.ui-widget-header {
    background:#7535c5;
}
.ui-dialog .ui-dialog-content {
    background:#b275ff;
}
.form-group button{
    background:#7535c5;
}