.banner-big,.banner-md,.menu-header-left,.triangle-top-right{
    background:#df2323;
}
.triangle-topleft{
    border-top: 7px solid #df2323;
}
.triangle-top-right-conner{
    border-right: 7px solid #df2323;
}

.menu-left,.direction-left,.menu-right,.direction-right{
     background:#ff6c6c;
}
.direction-left a,.direction-right a{
    color:white;
}


.ui-widget-header {
    background:#df2323;
}
.ui-dialog .ui-dialog-content {
    background:#ff6c6c;
}
.form-group button{
    background:#df2323;
}

/* corner create room style */
.triangle-topleft-room {

    border-top: 7px solid #df2323;
}

.triangle-topright-room{
    border-right:7px solid #df2323;
}

.room-conner-left,.room-conner-right{
    background:#df2323;
}