.banner-big,.banner-md,.menu-header-left,.triangle-top-right{
    background:#0e3b75;
}
.triangle-topleft{
    border-top: 7px solid #0e3b75;
}
.triangle-top-right-conner{
    border-right: 7px solid #0e3b75;
}

.menu-left,.direction-left,.menu-right,.direction-right{
     background:#2987ff;
}
.direction-left a,.direction-right a{
    color:white;
}