.banner-big,.banner-md,.menu-header-left,.triangle-top-right{
    background:#df2323;
}
.triangle-topleft{
    border-top: 7px solid #df2323;
}
.triangle-top-right-conner{
    border-right: 7px solid #df2323;
}

.menu-left,.direction-left,.menu-right,.direction-right{
     background:#ff6c6c;
}
.direction-left a,.direction-right a{
    color:white;
}