body{
    margin:0;
    padding:0;
}
.whole-content {
    /*    border:1px solid purple;*/
    width:100%;
    height: 800px;
    text-align:left;
    position:relative;
}
.panel-left {
    /*    border:2px solid green;*/
    float:left;
    margin:0;
}
.menu-left{
    float: left;
    width: 200px;
    background:#455363;
}
.nav-left{
    float: right;
    width: 60px;
    background:#989898;
}
.panel-right {
    position:absolute;
    top:0;
    right:0;
    margin:0;
}
.menu-right{
    float:right;
    width: 200px;
    background:#455363;
}
.nav-right{
    float:left;
    width: 60px;
    background:#989898;
}
.panel-left,.menu-left,.nav-left,.panel-right,.menu-right,.nav-right,.main-content{
    height:800px;
}
.main-content {
    /*    border:2px solid blue;*/
    width:72.9%;
    margin:0 0 0 260px;
}
.menu-header{
    background: #181D23;
    margin-top: 20px;
    position: relative;
}
.banner-big {
    height: 63px;
}
.banner-md {
    height: 50px;
}
.menu-header-left {
    background: #181D23;
    height:100%;
    width: 7px;
    position:absolute;
    right: -7px;
    top: 0;
}
.triangle-topleft {
    width: 0;
    height: 0;
    border-top: 7px solid #181D23;
    border-right: 7px solid transparent;
    right: -7px;
    bottom: -7px;
    position: absolute;
}
.icon-info {
    color: #0066A4;
}
.icon-online {
    /*    color: #4cae4c;*/
    color: greenyellow;
}
.profile-image {
    padding-left: 10px;
}
.profile-image img{
    width: 50px;
    margin-top: -19px;
}
.menu-item ul {
    list-style: none;
    display: inline-block;
    padding-left: 2px;
    padding-top: 10px;
}
.profile-name{
    float: right;
    margin-left: -12px;
    margin-top: 10px;
    position: absolute;
}

/*ADD MORE CSS*/
.title-bar-right{
    color: white;
    margin-top:20px;
    background:#181d23;
    position: relative;
}

.banner-sm {
    height: 30px;
}
.triangle-top-right{
    top: 0;
    height: 100%;
    left: -7px;
    width: 7px;
    background:#181d23;
    position:absolute;
}
.title-bar-right .span-right{
    float: right;
    position:relative;
    top:10px;
    margin-right: 10px;
}
.title-bar-right .span-left{
    font-size: 14px;
    float:left;
    position: relative;
    top:10px;
    margin-left:10px;   
}
.title-bar-right .span-left i{
    position: relative;
    top: 3px;
    left:-3px;   
}
.title-bar-right .span-right a{
    color: white;
}
.contact-list{
    margin-top: 15px;
    height:200px;
}
.menu-right .contact-list ul{
    list-style-type:none;
    margin:0;
    padding:0;
}
.menu-right .contact-list ul a{
    display:block;
    width: 100%;
    color:#FFFFFF;
    padding:10px 10px 10px 40px;
    text-decoration:none;
}
.menu-right .contact-list ul li{
    border:1px solid #ffffff;
    border-style: none;
    border-bottom-style:solid;
}
.menu-right .contact-list ul li:first-child{
    border:1px solid #ffffff;
    border-left-style: none;
    border-right-style: none;
}
.user-online{
    margin-top: 15px;
    height:200px;  
}
.user-online ul{
    list-style-type:none;
    margin:0;
    padding:0;  
}
.user-online ul li{
    border:1px solid #ffffff;
    border-style: none;
    border-bottom-style:solid;
}
.user-online ul li .div-avatar img{ 
    float:left;
    width: 35px;
    height:35px;
}
.user-online ul li .div-avatar{
    display:block;
    height: 45px;
    width: 100%;
    color:#FFFFFF;
    padding:5px 10px 10px 10px;
}
.user-online ul li .group-sm-link{

}
.user-online ul li .div-avatar i{
    color: greenyellow;
    position:relative;
    top: 25px;
    left:-5px;
}
.user-online ul li:first-child{
    border:1px solid #ffffff;
    border-left-style: none;
    border-right-style: none;
}
.triangle-top-right-conner{
    width:0;
    height:0;
    border-right:7px solid #222222;
    border-bottom: 7px solid transparent;
    position: absolute;
    bottom: -7px;
    left: -7px;
}
.panel-left,.menu-left,.nav-left,.panel-right,.menu-right,.nav-right,.main-content{
    height:800px;
}

