body {
    
}
.whole-content {
    height: 800px;
    background: #09f;
    position: relative;
    width: 100%;
    display: inline;
}
.panel-left, .panel-right, .main-content {
    display: inline-block;
}
.panel-left, .panel-right {
    height: 800px;
}
.main-content {
    width: 80%;
}
.panel-left .menu-left, .panel-right .menu-right{
    width: 200px;
    background: #cacaca;
    height: 800px;
}

.nav-left, .nav-right {
    background: #ddcaca;
    height: 800px;
    width: 60px;
}


