body{
    margin:0;
    padding:0;
}
.whole-content {
    /*    border:1px solid purple;*/
    width:100%;
    height: 800px;
    text-align:left;
    position:relative;
}
.panel-left {
    /*    border:2px solid green;*/
    float:left;
    margin:0;
}
.menu-left{
    float: left;
    width: 200px;
    background:#455363;
    position: relative;
}
.nav-left{
    float: right;
    width: 60px;
    background:#989898;
}
.panel-right {
    position:absolute;
    top:0;
    right:0;
    margin:0;
}
.menu-right{
    float:right;
    width: 200px;
    background:#455363;
    position: relative;
}
.nav-right{
    float:left;
    width: 60px;
    background:#989898;
}
.panel-left,.menu-left,.nav-left,.panel-right,.menu-right,.nav-right,.main-content{
    height:800px;
}
.main-content {
    border:2px solid #737373;
    width:72.9%;
    margin:0 0 0 260px;
}
/*Updated.....................................*/
.menu-header{
    background: #181D23;
    position: relative;
    margin: 20px auto 45px auto;
}
.banner-big {
    height: 63px;
}
.banner-md {
    height: 50px;
}
.menu-header-left {
    background: #181D23;
    height:100%;
    width: 7px;
    position:absolute;
    right: -7px;
    top: 0;
}
.triangle-topleft {
    width: 0;
    height: 0;
    border-top: 7px solid #181D23;
    border-right: 7px solid transparent;
    right: -7px;
    bottom: -7px;
    position: absolute;
}
.icon-info {
    color: #0066A4;
}
.icon-online {
    /*    color: #4cae4c;*/
    color: greenyellow;
}
.profile-image {
    padding-left: 10px;
}
.profile-image img{
    width: 50px;
    margin-top: -19px;
}
.menu-item ul {
    list-style: none;
    display: inline-block;
    padding-left: 2px;
    padding-top: 10px;
}
.profile-name{
    float: right;
    margin-left: -12px;
    margin-top: 10px;
    position: absolute;
    color: white;
}
.title-bar-right{
    color: white;
    margin-top:20px;
    background:#181d23;
    position: relative;
}

.banner-sm {
    height: 30px;
}
.triangle-top-right{
    top: 0;
    height: 100%;
    left: -7px;
    width: 7px;
    background:#181d23;
    position:absolute;
}
.title-bar-right .span-right{
    float: right;
    position:relative;
    top:10px;
    margin-right: 10px;
}
.title-bar-right .span-left{
    font-size: 14px;
    float:left;
    position: relative;
    top:10px;
    margin-left:10px;   
}
.title-bar-right .span-left i{
    position: relative;
    top: 3px;
    left:-3px;   
}
.title-bar-right .span-right a{
    color: white;
}
.nav-list{
    margin-top: 10px;

}
.nav-list-top{
   border:1px solid #6a717c;
   border-top-style: none;
   border-left-style: none;
   border-right-style: none;
   height:80%;
}
.nav-list ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.nav-list ul a{
    display:block;
    padding: 10px 0 10px 0;   
    text-decoration:none;
    text-align: center;
}
.nav-list ul img{
    width: 25px;
}
.list-view-group{
    margin-top: 10px;
    height:225px;  
/*    border: 2px solid red;*/
}
.list-view-group ul{
    list-style-type:none;
    margin:0;
    padding:0;  
}
.list-view-group ul li{
    border:1px solid #6a717c;
    border-style: none;
    border-bottom-style:solid;
}
.list-view-group ul li .div-avatar img{ 
    float:left;
    width: 35px;
}
/*Updated......................................*/
.list-view-group ul li .div-avatar{
    display:block;
    height: 45px;
    width: 100%;
    color: #181D23;
    padding:5px 10px 10px 20px;
}
.list-view-group ul li .div-avatar .group-sm-link{
    margin-left:47px;

}
.list-view-group ul li .div-avatar .group-sm-link a i{
    padding-left: 3px;
    color: white;
    position: relative;
    top: 0;
    left: 5px;
}
.list-view-group ul li:first-child{
    border:1px solid #6a717c;
    border-left-style: none;
    border-right-style: none;
}
.triangle-top-right-conner{
    width:0;
    height:0;
    border-right:7px solid #222222;
    border-bottom: 7px solid transparent;
    position: absolute;
    bottom: -7px;
    left: -7px;
}
.panel-left,.menu-left,.nav-left,.panel-right,.menu-right,.nav-right,.main-content{
    height:800px;
}
.direction-right{
    top:50%;
    background:#455363;
    position:absolute;
    height:20px;
    left: -10px;
    width: 12px;
    text-align:right;
    padding:3px;
    border-radius:5px 0 0 5px;
}
.list-view-group ul li .div-avatar .list-view{
    padding-left: 10px;
    color: #181D23;
    line-height: 35px;
}
.search-image{
    width: 14px;
    margin-left: 5px;
}
.list-view-group ul li .div-avatar list-view{
    padding-left: 10px;
    color: #181D23;
    line-height: 35px;
}
.list-view-group ul li a{
    text-decoration: none;
    
}
.list-view-group ul li .div-avatar i{
    color: greenyellow;
    position:relative;
    top: 22px;
    left:-5px;
}
.list-view-group ul li .div-avatar .dropbox{
    display: block;
    float: right;
    margin-right: -7px;
    top: 12px;
    color: #FFF;
}
.direction-left{
    top: 50%;
    background:#455363;
    position:absolute;
    height:20px;
    right: -10px;
    width: 12px;
    text-align:left;
    padding:3px;
    border-radius:0 5px 5px 0;
}
/*Add more css*/
.nav-list ul li .img-list{
    display:block;
    padding: 10px 0 10px 0;
    text-decoration:none;
    text-align: center;
    margin-top: 42px;
}
.nav-list-bordertop{
   border:1px solid #6a717c;
   border-top-style: none;
   border-left-style: none;
   border-right-style: none;
   height:18%;
}
.nav-list-bordermiddle{
   border:1px solid #6a717c;
   border-top-style: none;
   border-left-style: none;
   border-right-style: none;
   height:62%;
}
.list-chang-background{
    margin:0;
}
.list-chang-background ul{
    list-style-type: none;
    margin: 0;
    padding:0;
}
.list-chang-background ul a{
    display:block;
    padding-top:5px;
    padding-bottom:5px;
    text-decoration:none;
    text-align:left;
}
.list-chang-background ul a img{
    height:20px;
    width: 20px;
}
.list-chang-background ul a .popup-list{
    padding-left: 10px;   
}
.title-popup{
    border-bottom:1px solid #000;
    padding-bottom:2px;
}

 .popover{
     margin-top: 30px;
}

.popover.left {
    margin-left: -18px;
}
.popover.left > .arrow{
    margin-top: -40px;
}

.select-room-list ul{
    list-style-type: none;
    margin: 0;
    padding:0;
}

.select-room-list ul a{
    display:block;
    padding-top:5px;
    padding-bottom:5px;
    text-decoration:none;
    text-align:left;
}
