.banner-big,.banner-md,.menu-header-left,.triangle-top-right{
    background:#0c7734;
}
.triangle-topleft{
    border-top: 7px solid #0c7734;
}
.triangle-top-right-conner{
    border-right: 7px solid #0c7734;
}

.menu-left,.direction-left,.menu-right,.direction-right{
     background:#80ffaf;
}
.direction-left a,.direction-right a{
    color:white;
}

/*jquery ui css*/


.ui-widget-header {
    background:#0c7734;
}
.ui-dialog .ui-dialog-content {
    background:#80ffaf;
}
.form-group button{
    background:#0c7734;
}


/* corner create room style */
.triangle-topleft-room {

    border-top: 7px solid #0c7734;
}

.triangle-topright-room{
    border-right:7px solid #0c7734;
}

.room-conner-left,.room-conner-right{
    background:#0c7734;
}