<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
    <link href="../css/bootstrap.min.css" rel="stylesheet">
    <link href="../css/bootstrap.css" rel="stylesheet">
    <link href="../css/bootstrap-theme.css" rel="stylesheet"/>
    <link href="../css/bootstrap-theme.css.map" rel="stylesheet"/>
    <link href="../css/bootstrap.css.map" rel="stylesheet"/>
<style>
body{
	background:url(../images/tropical_dock-wallpaper-1366x768.jpg) no-repeat scroll center;	
}
.register{
	border-radius:3px;
	height:400px;
	box-shadow:0 1px 10px #888888;
	background:rgba(40, 132, 112, 0.8);
	margin-top: 60px;
}

</style>
</head>

<body>
	<div class="container">
	<div clas="row">
    	<div class="register  col-sm-offset-4 col-sm-4">
            <form role="form">
            <h3 style="color:white">Create an Acount</h3>
              <div class="form-group">
                <input type="text" class="form-control" name="username" placeholder="Username" required="required">
              </div>
              <div class="form-group">
                <input type="password" class="form-control" name="password" placeholder="Password" required="required">
              </div>
              <div class="form-group">
                <input type="password" class="form-control" name="con_password" placeholder="Retype Password" required="required">
              </div>
              <div class="form-group">
                <input type="email" class="form-control" name="email" placeholder="Email(Optional)" required="required">
              </div>
              <div class="col-sm-offet-4">
              	By acount condition to <a href="#" style="color:white">Terms & Condition of use</a>
              </div>
              <div class="form-group col-sm-offset-4">
              <br/>
              <button type="submit" class="btn btn-primary">Submit</button>
              </div>
            </form>
        </div>
	</div>
	</div>
</body>
</html>
