<div style="color:#465262">
<div class="mail-container" style="width: 80%;margin: auto;">
	<div class="mail-baner" style="background: #465262;text-align: center;">
		<a href="http://afinos.us/"><img src="http://web.afinos.us/Template/Images/Template_email_beta_version.png"></a>
	</div>
	<div class="border" style="border: 1px dashed #465262;border-top: 1px solid #465262;padding-top: 10px; border-bottom: 1px solid #465262;">
		<div class="row mail-thumnail" style="width: 100%;">
			<div class="col-sm-4" style="width: 32.74%;position: relative;min-height: 1px;padding-left: 0.25%;padding-right: 0.25%;float: left;margin-bottom: 40px;">
				<img src="http://web.afinos.us/Template/Images/Invitation-e-mail-Cosync-for-AOL_03.gif" style="width: 100%;">
			</div>
			<div class="col-sm-4" style="width: 32.74%;position: relative;min-height: 1px;padding-left: 0.25%;padding-right: 0.25%;float: left;margin-bottom: 40px;">
				<img src="http://web.afinos.us/Template/Images/Invitation-e-mail-Cosync-for-AOL_05.gif" style="width: 100%;">
			</div>
			<div class="col-sm-4" style="width: 32.74%;position: relative;min-height: 1px;padding-left: 0.25%;padding-right: 0.25%;float: left;margin-bottom: 40px;">
				<img src="http://web.afinos.us/Template/Images/Invitation-e-mail-Cosync-for-AOL_07.gif" style="width: 100%;">
			</div>
		</div>
		<div class="mail-content" style="color: #465262;text-align: center;width: 80%;margin: auto;">
			<h1>Hello ###username### !</h1>
			<p>Welcome to the Cosync experience !</p>
			<p>Enjoy our suite of FREE Cosync applications:</p>
			<p>CoSync SuperAPP</p>
			<p>Cosync Youtube</p>
			<p>Cosync Vimeo</p>
			<p>Cosync for AOL</p>
			<p>CoSyncTV (Private Beta only)</p>
			<p>Enjoy the journey!</p>
			<p>Free</p>
			<p>Call, Text, VideoChat, edit&share your Photos like never before, Watch Movies, Listen to Music, Play Games, edit you documents with your friends, family and co-workers in real time groups, and so much more...</p>
			<p>Download the mobile apps on Google Play <a href="https://play.google.com/store/search?q=Afinos">(click here)</a> and iTunes <a href="https://itunes.apple.com/us/app/cosync-for-youtube/id798734642?mt=8">(click here)</a></p>

			<p>Activate your account to be a part of Cosync adventure:</p>
			<p>The Afinos Team</p>

		</div>
		<div class="social" style="background: #465262;text-align: right; height: 32px; padding: 10px 10%;">
			<a href="https://www.facebook.com/CoSync"><img style="width: 32px;margin: 0 10px 20;" src="http://web.afinos.us/Template/Images/facebook.png"/></a>
			<a href="https://twitter.com/afinos"><img style="width: 32px;margin: 0 10px 20;" src="http://web.afinos.us/Template/Images/twitter.png"/></a>
			<a href="http://instagram.com/cosync"><img style="width: 32px;margin: 0 10px 20;" src="http://web.afinos.us/Template/Images/instagram.png"/></a>
		</div>
		<div class="footer" style="color: gray; text-align: center;width: 80%; margin: auto;">
			<p>You are receiving this email because you registered with Afinos,Inc. and agreed to receive emails from us regarding new features, events and special offers on the Afinos Service. If you wish to unsubscribe to no longer receive emails, <a href="http://web.afinos.us/site/unsubscribe">click here.</a></p>
		</div>
	</div>
</div>
</div>
