<html>
<head>
	<title>Afinos AOL</title>

</head>
<body style="color:#465262">
<div class="mail-container" style="width: 80%;margin: auto;">
	<div class="mail-baner" style="background: #465262;text-align: center;">
		<img src="Images/AFINOS-lightblue.png">
	</div>
	<div class="border" style="border: 1px dashed #465262;border-top: 1px solid #badce5;padding-top: 10px;border-bottom: 10px solid #465262;">
		<div class="row mail-thumnail" style="width: 100%;display: table;">
			<div class="col-sm-4" style="position: relative;min-height: 1px;padding-left: 0.25%;padding-right: 0.25%;float: left;margin-bottom: 40px;width: 32.74%;">
				<img src="Images/Invitation-e-mail-Cosync-for-AOL_03.gif" style="width: 100%;">
			</div>
			<div class="col-sm-4" style="position: relative;min-height: 1px;padding-left: 0.25%;padding-right: 0.25%;float: left;margin-bottom: 40px;width: 32.74%;">
				<img src="Images/Invitation-e-mail-Cosync-for-AOL_05.gif" style="width: 100%;">
			</div>
			<div class="col-sm-4" style="position: relative;min-height: 1px;padding-left: 0.25%;padding-right: 0.25%;float: left;margin-bottom: 40px;width: 32.74%;">
				<img src="Images/Invitation-e-mail-Cosync-for-AOL_07.gif" style="width: 100%;">
			</div>
		</div>
		<div class="mail-content" style="color: #465262;text-align: center;width: 80%;margin: auto;">
			<h1>Hello ###username### !</h1>

			<p>(Name of Friend) invites you to join Afinos cosync for AOL, a unique mobile cloud experience,</p>
			<p>Discover the best Cosync platform to chat with your friends and family while co-viewing videos together. Comment movies and music videos privately on your own popcorn chat, make voice call and discover more features to stay connected wherever you are.</p>
			<div class="row" style="width: 100%;display: table;">
				<div class="col-sm-6" style="position: relative;min-height: 1px;padding-left: 0.25%;padding-right: 0.25%;float: left;margin-bottom: 40px;width: 45%;">
					<img src="Images/Invitation-e-mail-Cosync-for-AOL_13.png" style="width: 100%;">
				</div>
				<div class="col-sm-6" style="float: right;position: relative;min-height: 1px;padding-left: 0.25%;padding-right: 0.25%;margin-bottom: 40px;width: 45%;">
					<img src="Images/Invitation-e-mail-Cosync-for-AOL_15.png" style="width: 100%;">
				</div>
			</div>
			<p>Be a part of a new adventure,</p>
			<p>Afinos</p>
			<hr>
		</div>

		<div class="footer" style="text-align: center;width: 80%;margin: auto;">
			<div class="social">
				<a href="https://twitter.com/"><img src="Images/twitter.png" style="width: 32px;margin: 20px 10px 0;"></a>
			</div>
			<p>You are receiving this email because you registered a Afinos(244 Fifth Ave,soute 2813,New York,Ny 10011)
				and
				agreed to receive email from us regarding new features,events and special offer about.Afinos services.if
				you wish to be unsubscribed from receiving these emails,<a href="http://web.afinos.us/site/unsubscribe">click
					there</a></p>
		</div>
	</div>
</div>
</body>
</html>
