<!--
*
* AOL On Newsletter
*
-->
<style>
	.mail-container {
		width: 80%;
		margin: auto;
	}

	.mail-baner {
		background: #465262;
		text-align: center;
	}

	.btn {
		padding: 10px 20px;
		display: inline;
		border-radius: 15px;
		margin: 20px 0
	}

	.btn-info {
		text-decoration: none;
		background: #465262;
		color: #ffffff;
	}

	.btn-info:hover {
		background: #465262;
	}

	.border {
		border: 1px dashed #465262;
		border-top: 1px solid #badce5;
		padding-top: 10px;
		border-bottom: 10px solid #465262;
	}

	.row {
		width: 100%;
		display: table;
	}

	.col-sm-4, .col-sm-6 {
		position: relative;
		min-height: 1px;
		padding-left: 0.25%;
		padding-right: 0.25%;
		float: left;
		margin-bottom: 40px;
	}

	.col-sm-4 {
		width: 32.74%;
	}
	.col-sm-6 {
		width: 45%;
	}

	.col-sm-4 img, .col-sm-6 img {
		width: 100%
	}

	.mail-content {
		color: #465262;
		text-align: center;
		width: 80%;
		margin: auto;
	}

	.footer {
		text-align: center;
		width: 80%;
		margin: auto;
	}

	.footer img {
		width: 32px;
		margin: 20px 10px 0;
	}

</style>
<div style="color:#465262">
	<div class="mail-container">
		<div class="mail-baner">
			<img src="http://web.afinos.us/Template/Images/AFINOS-2TM.png"/>
		</div>
		<div class="border">
			<div class="row mail-thumnail">
				<div class="col-sm-4">
					<img src="http://web.afinos.us/Template/Images/mockupwork.png"/>
				</div>
				<div class="col-sm-4">
					<img src="http://web.afinos.us/Template/Images/mockupstreet-art.png"/>
				</div>
				<div class="col-sm-4">
					<img src="http://web.afinos.us/Template/Images/mockup-streetart2.png"/>
				</div>
			</div>
			<div class="mail-content">
				<h1>Hello ###username### !</h1>
				<p>Welcome to the Afinos CoSync adventure! Join now for a FREE experience:</p>
				<p>CoSync for AOL On allows you to host and watch videos with selected groups of friends or
					colleagues in real time while communicating with Chat and VoiceCall. Share comments and playlist/channels of videos you want to watch together!</p>
				<br/>
				<br/>
				<p>Welcome to the Free World!</p>
				<p>Afinos, Inc.</p>
				<hr>
			</div>

			<div class="social" style="background: #465262;text-align: right; height: 32px; padding: 10px 10%;">
				<a href="https://www.facebook.com/CoSync"><img style="width: 32px;margin: 0 10px 20;" src="http://web.afinos.us/Template/Images/facebook.png"/></a>
				<a href="https://twitter.com/afinos"><img style="width: 32px;margin: 0 10px 20;" src="http://web.afinos.us/Template/Images/twitter.png"/></a>
				<a href="http://instagram.com/cosync"><img style="width: 32px;margin: 0 10px 20;" src="http://web.afinos.us/Template/Images/instagram.png"/></a>
			</div>
			<div class="footer">
				<p>You are receiving this email because you registered at Afinos (244 Fifth Ave., Suite 2813, New York, NY 10011) and agreed to receive email from us regarding new features, events and special offers about Afinos services. If you wish to be unsubscribed from receiving these emails, <a href="http://web.afinos.us/site/unsubscribe">click here.</a></p>
			</div>
		</div>
	</div>
</div>