
	<style>
		.mail-container {
			width: 80%;
			margin: auto;
		}

		.mail-baner {
			background: #465262;
			text-align: center;
		}

		.btn {
			padding: 10px 20px;
			display: inline;
			border-radius: 15px;
			margin: 20px 0
		}

		.btn-info {
			text-decoration: none;
			background: #465262;
			color: #ffffff;
		}

		.btn-info:hover {
			background: #465262;
		}

		.border {
			border: 1px dashed #465262;
			border-top: 1px solid #badce5;
			padding-top: 10px;
			border-bottom: 10px solid #465262;
		}

		.row {
			width: 100%;
			display: table;
		}

		.col-sm-4, .col-sm-6 {
			position: relative;
			min-height: 1px;
			padding-left: 0.25%;
			padding-right: 0.25%;
			float: left;
			margin-bottom: 40px;
		}

		.col-sm-4 {
			width: 32.74%;
		}
		.col-sm-6 {
			width: 45%;
		}

		.col-sm-4 img, .col-sm-6 img {
			width: 100%
		}

		.mail-content {
			color: #465262;
			text-align: center;
			width: 80%;
			margin: auto;
		}

		.footer {
			text-align: center;
			width: 80%;
			margin: auto;
		}

		.social img {
			width: 32px;
			margin: 20px 10px 0;
		}
		ul {
			line-height: 1.5;
			margin-left: 6%;
			text-align: left;
		}
		button {
			height: 40px;
		}

	</style>
<div style="color:#465262">
	<div class="mail-container">
		<div class="mail-baner">
			<img src="http://web.afinos.us/Template/Images/AFINOS-2TM.png"/>
		</div>
		<div class="border">
			<div class="row mail-thumnail">
				<div class="col-sm-4">
					<img src="http://web.afinos.us/Template/Images/mockupwork.png"/>
				</div>
				<div class="col-sm-4">
					<img src="http://web.afinos.us/Template/Images/mockupstreet-art.png"/>
				</div>
				<div class="col-sm-4">
					<img src="http://web.afinos.us/Template/Images/mockup-streetart2.png"/>
				</div>
			</div>
			<div class="mail-content">
				<h1>Hello ###friend_name###!</h1>

				<p>###username### has invited you to join them to Cosync SuperApp a unique cross platform!</p>
				<p>
					What is the Super App? <br/>
					It is a collaboration tool designed to meet the evolving needs of businesses. It gathers many great features in one cohesive environment and is a unique and exciting user experience.
				</p>
				<ul>
					<li>A great way to share news and promote your brand around the world</li>
					<li>Real-time data access</li>
					<li>Blend content and commerce at the same time</li>
					<li>Host online meetings, close complex deals and coordinate projects with your team with 100% real-time messaging, file sharing and co-viewing media content.</li>
				</ul>
				<p>Try the free version here and enjoy 2 GB storage</p>
				<a href="http://afinos.us/download" target="_blank" class="btn btn-default">Download Now!</a>
				<br/>
				<p>Contact us if you are interested by the premium version package with 100 GB personal cloud storage, unlimited shared room sessions and many other great features.</p>
				<br/>
				<div class="row">
					<div class="col-sm-12">
						<img src="http://web.afinos.us/Template/Images/VIDEO-CALL.png"/>
					</div>
				</div>
				<p>Welcome to the Free World!</p>
				<p>Afinos, Inc.</p>
				<div class="social">
					<a href="https://www.facebook.com/CoSync"><img src="http://web.afinos.us/Template/Images/facebook.png"/></a>
					<a href="https://twitter.com/afinos"><img src="http://web.afinos.us/Template/Images/twitter.png"/></a>
					<a href="http://instagram.com/cosync"><img src="http://web.afinos.us/Template/Images/instagram.png"/></a>
				</div>
				<hr>
			</div>

			<div class="footer">
				<p>You are receiving this email because you registered at Afinos (244 Fifth Ave., Suite 2813, New York, NY 10011) and agreed to receive email from us regarding new features, events and special offers about Afinos services. If you wish to be unsubscribed from receiving these emails, <a href="http://web.afinos.us/site/unsubscribe">click here.</a></p>
			</div>
		</div>
	</div>
</div>